*{
    /* box-sizing: border-box; */
    font-family: sans-serif;
}
.container{
 box-shadow: 2px 2px 22px rgba(0, 0,0, 0.2);
}
.search-section{
    margin-top: 100px;
    padding: 20px 0;
}

.box img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid lightblue;
    margin-bottom: 30px;
  }
  h4{
    color: rgb(75, 72, 72);
    margin-bottom: 10px;
  }
  button{
    padding: 13px 32px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background: #079992;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .3s ease;
  }
  button:hover{
    background: rgb(56, 56, 56);
  }
  a{
    color: white;
  }