<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Navbar -->
<div class="container">
  <!-- Content -->
  <form class="search-section">
    <ng-progress [color]="'#fdcb6e'" [spinner]="false" [ease]="'linear'" fixed="false"></ng-progress>
    <h1 class="h1 text-center text-info animated bounce infinite">Welcome to G-Search</h1>
    <div class="row">
      <div class="col-md-12">
        <!-- Search form -->
        <input class="form-control" name="userName" type="text" [(ngModel)]="userName" placeholder="Search"
          aria-label="Search" [ngModelOptions]="{ standalone: true }" (keyup)="getUser()">

      </div>
    </div>

  </form>
  <!-- Content -->
  <!--Main layout-->
  <div class="content">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="box col-md-6">
        <img src="{{users.avatar_url}}" alt="{{users.login}}">

        <h2>{{users.login}}</h2>
        <h4>{{users.blog}}</h4>
      </div>

      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6">
        <!-- card start -->
        <!-- Card -->
        <div>
          <!-- Card content -->
          <div>

            <!-- Title -->
            <h2 class="bg-info">
              <p class="text-white"> {{users.name}}</p>
            </h2>
            <hr>
            <!-- Text -->
            <ul class=" card-text list-group list-group-flush">
              <li class="list-group-item"> Followers: {{users.followers}}</li>

              <li class="list-group-item"> Following: {{users.following}}</li>

              <li class="list-group-item">repos:{{users.public_repos}}</li>

              <li class="list-group-item"> Joined on: {{users.created_at|date}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <section>

      <h4 class="h4 text-center mb-5 text-white bg-info text-uppercase">Repositories</h4>

      <!--Grid row-->
      <div class="row">


        <div class="courses-container col-md-12" *ngFor="let repo of repos;">
          <div class="course row">
            <div class="course-preview col-md-5">
              <h6>Repo</h6>
              <h2>{{repo.name}}</h2>
              <a target="_blank" href="{{repo.html_url}}">Checkout on Github <i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-info col-md-7">
              <div class="progress-container">
                <div class="progress"></div>
                <span class="progress-text">
                  {{repo.created_at | date}}
                </span>
              </div>
              <h6>Language</h6>
              <h2>{{repo.language}}</h2>
              <p>{{repo.description}}</p>
              <button class="btn">More</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!--Footer-->
<footer class="page-footer text-center font-small mt-4">

  <hr class="my-4">
  <!--Copyright-->
  <div class="footer-copyright py-3 text-warning">
    © 2020 |
    <a href="#" target="_blank" class="text-white"> Charles NDAYISABA </a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
